In [2]:
%matplotlib notebook

In [3]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from datetime import date

In [4]:
# Load csv
tourney_results = pd.read_csv('ncaa_tourney_results.csv')
tourney_results.head()

,Date,Round,Region,Winning Seed,Winner,Winning Score,Losing Seed,Loser,Losing Score,Overtime
0,3/14/1985,Round of 64,East,1,Georgetown,68,16,Lehigh,43,NaN
1,3/14/1985,Round of 64,East,4,"Loyola, Illinois",59,13,Iona,58,NaN
2,3/14/1985,Round of 64,East,5,Southern Methodist,85,12,Old Dominion,68,NaN
3,3/14/1985,Round of 64,East,8,Temple,60,9,Virginia Tech,57,NaN
4,3/14/1985,Round of 64,Midwest,1,Oklahoma,96,16,North Carolina A&T,83,NaN

In [8]:
# Wins by seed
tourney_results['Winning Seed'].value_counts()

1     429
2     307
3     230
4     198
6     144
5     142
7     114
8      93
10     82
11     81
9      72
12     70
13     33
14     24
16     22
15      9
Name: Winning Seed, dtype: int64

In [13]:
# Average winning score
avg_winning_score = tourney_results['Winning Score'].mean()
avg_winning_score

76.90926829268292

In [14]:
# Average losing score
avg_losing_score = tourney_results['Losing Score'].mean()
avg_losing_score

65.21512195121952

In [15]:
# Average margin of victory
avg_MOV = ((avg_winning_score) - (avg_losing_score))
avg_MOV

11.694146341463409

In [16]:
# Most tourney wins
tourney_results['Winner'].value_counts()

Duke                         90
North Carolina               82
Kansas                       77
Kentucky                     75
Connecticut                  55
                             ..
Cal Poly                      1
Mt. St. Mary's, Maryland      1
Coppin State                  1
North Carolina-Wilmington     1
Central Michigan              1
Name: Winner, Length: 186, dtype: int64

In [17]:
# Most tourney losses
tourney_results['Loser'].value_counts()

Arizona              29
Kansas               29
Duke                 26
North Carolina       26
Michigan State       25
                     ..
Delaware State        1
California-Irvine     1
Appalachian State     1
IUPUI                 1
Fordham               1
Name: Loser, Length: 292, dtype: int64