In [2]:
%matplotlib notebook

In [3]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from datetime import date

In [4]:
# Load csv
tourney_results = pd.read_csv('ncaa_tourney_results.csv')
tourney_results.head()

,Date,Round,Region,Winning Seed,Winner,Winning Score,Losing Seed,Loser,Losing Score,Overtime
0,3/14/1985,Round of 64,East,1,Georgetown,68,16,Lehigh,43,NaN
1,3/14/1985,Round of 64,East,4,"Loyola, Illinois",59,13,Iona,58,NaN
2,3/14/1985,Round of 64,East,5,Southern Methodist,85,12,Old Dominion,68,NaN
3,3/14/1985,Round of 64,East,8,Temple,60,9,Virginia Tech,57,NaN
4,3/14/1985,Round of 64,Midwest,1,Oklahoma,96,16,North Carolina A&T,83,NaN

In [5]:
# UNC results
only_UNC_wins = tourney_results.loc[tourney_results['Winner'] == "North Carolina", :]
print(only_UNC_wins)

           Date                Round     Region  Winning Seed          Winner  \
8     3/14/1985          Round of 64  Southeast             2  North Carolina
36    3/16/1985          Round of 32  Southeast             2  North Carolina
52    3/22/1985        Sweet Sixteen  Southeast             2  North Carolina
76    3/13/1986          Round of 64       West             3  North Carolina
102   3/15/1986          Round of 32       West             3  North Carolina
...         ...                  ...        ...           ...             ...
1987  3/17/2016          Round of 64       East             1  North Carolina
2019  3/19/2016          Round of 32       East             1  North Carolina
2039  3/25/2016        Sweet Sixteen       East             1  North Carolina
2045  3/27/2016          Elite Eight       East             1  North Carolina
2047   4/2/2016  National Semifinals        NaN             1  North Carolina

      Winning Score  Losing Seed                   Loser  Losing Score  \
8                76           15  Middle Tennessee State            57
36               60            7              Notre Dame            58
52               62           11                  Auburn            56
76               84           14                    Utah            72
102              77            6                     UAB            59
...             ...          ...                     ...           ...
1987             83           16      Florida Gulf Coast            67
2019             85            9              Providence            66
2039            101            5                 Indiana            86
2045             88            6              Notre Dame            74
2047             83           10                Syracuse            66

     Overtime
8         NaN
36        NaN
52        NaN
76        NaN
102       NaN
...       ...
1987      NaN
2019      NaN
2039      NaN
2045      NaN
2047      NaN

[82 rows x 10 columns]

In [6]:
UNC_wins = pd.DataFrame(only_UNC_wins)
UNC_wins.head()

,Date,Round,Region,Winning Seed,Winner,Winning Score,Losing Seed,Loser,Losing Score,Overtime
8,3/14/1985,Round of 64,Southeast,2,North Carolina,76,15,Middle Tennessee State,57,NaN
36,3/16/1985,Round of 32,Southeast,2,North Carolina,60,7,Notre Dame,58,NaN
52,3/22/1985,Sweet Sixteen,Southeast,2,North Carolina,62,11,Auburn,56,NaN
76,3/13/1986,Round of 64,West,3,North Carolina,84,14,Utah,72,NaN
102,3/15/1986,Round of 32,West,3,North Carolina,77,6,UAB,59,NaN

In [7]:
# Average UNC seed when UNC wins
UNC_win_seed = UNC_wins['Winning Seed'].mean()
UNC_win_seed

2.1951219512195124

In [8]:
# Average seed defeated
avg_seed_defeated = UNC_wins['Losing Seed'].mean()
avg_seed_defeated

8.74390243902439

In [9]:
# Average UNC score
avg_win_score = UNC_wins['Winning Score'].mean()
avg_win_score

82.48780487804878

In [10]:
# Average defeated team score
avg_loser_score = UNC_wins['Losing Score'].mean()
avg_loser_score

67.86585365853658

In [11]:
# Average margin of victory
avg_MOV = ((avg_win_score) - (avg_loser_score))
avg_MOV

14.621951219512198

In [12]:
# Wins by region
wins_by_region = UNC_wins['Region'].value_counts()
wins_by_region

East                     41
South                    11
Southeast                11
West                      7
Midwest                   5
National Championship     3
National Semifinals       3
Name: Region, dtype: int64

In [13]:
# Wins by round
wins_by_round = UNC_wins['Round'].value_counts()
wins_by_round

Round of 64              28
Round of 32              21
Sweet Sixteen            16
Elite Eight              10
National Semifinals       4
National Championship     3
Name: Round, dtype: int64

In [15]:
# Win total by opponent seed
wins_by_opp_seed = UNC_wins['Losing Seed'].value_counts()
wins_by_opp_seed

16    12
9     10
5      8
15     6
11     5
7      5
6      5
4      5
2      5
1      5
8      4
13     3
10     3
3      3
14     2
12     1
Name: Losing Seed, dtype: int64

In [16]:
# Overtime wins
UNC_wins['Overtime'].value_counts()

1 OT    3
Name: Overtime, dtype: int64

In [18]:
# Wins by opponent
UNC_wins['Loser'].value_counts()

Villanova         4
Michigan State    4
Arkansas          3
Michigan          3
Notre Dame        3
                 ..
Miami, Ohio       1
Rhode Island      1
Tennessee         1
Missouri          1
East Carolina     1
Name: Loser, Length: 65, dtype: int64

In [ ]:
# Write UNC wins dataframe to CSV file
UNC_wins.to_csv("UNC_wins.csv")